<div class="row">
  <div class="col">
    <div class="card p-5">
        <h5 class="card-title">Edit your League:</h5>

      <!-- ------ -  FORMLEAGUE  - ------- -->

        <form [formGroup]="leagueForm" (submit)="editLeague()">

          <!---------- name ------------>
          <div>
            <input class=""  type="name" class="form-control" placeholder="Add league name" formControlName="name" required
            [ngClass]="{'is-invalid': leagueForm.get('name')?.invalid && leagueForm.get('name')?.touched}">
          </div>

          <!--------- sport ------------->
          <div>
            <select class="btn btn-light"  name="" id="sportSelect" formControlName="sport" required
            [ngClass]="{'is-invalid': leagueForm.get('sport')?.invalid && leagueForm.get('sport')?.touched}"></select>
          </div>

          <!---------- category ------------>
          <div>
            <select class="btn btn-outline-secondary" name="" id="CategorySelect" formControlName="category" required
            [ngClass]="{'is-invalid': leagueForm.get('category')?.invalid && leagueForm.get('category')?.touched}"></select>
          </div>

          <!---------- location ---------------->
          <div>
            <input class=""  type="name" class="form-control" placeholder="Location" formControlName="location" required
            [ngClass]="{'is-invalid': leagueForm.get('location')?.invalid && leagueForm.get('location')?.touched}">
          </div>

          <!----------- buttons ---------------->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>

        </form>
  </div>
</div>




