.btn{
  font-size: 10pt;
  border-radius: 50pt;
}

.form-control{
  font-size: 10pt;
  border-radius: 50pt;

}

select{
  font-size: 10pt;
  border-radius: 50pt;

}

span{
  font-size: 10pt;
}

.aquamarine{
  background-color:aquamarine;
  height: 15pt;
}

.lila{
  background-color: #671cde;
  height: 30pt;
}
