<div class="row">

  <div class="col">

    <div class="card p-5">
      <h5 class="card-title">Match Update:</h5>

      <!-- ------ -  CALENDARFORM  - ------- -->

        <form [formGroup]="calendarForm" (submit)="editEvent()">

          <!---------- title ------------>
          <div class="mt-4 p-2">
            <span class="text-secondary">Match:</span>
            <input class="form-control" placeholder="Edit Match" type="title" class="form-control" formControlName="title" required
            [ngClass]="{'is-invalid': calendarForm.get('title')?.invalid && calendarForm.get('title')?.touched}">
          </div>

           <!---------- location ---------------->
           <div class="p-2">
            <span class="text-secondary">Location:</span>
            <input class="form-control" placeholder="Edit Stadium" type="name" class="form-control" formControlName="location" required
            [ngClass]="{'is-invalid': calendarForm.get('location')?.invalid && calendarForm.get('location')?.touched}">
          </div>

          <!--------- start ------------->
          <div class="p-2 mb-3">
            <span class="text-secondary" for="eventEndInput">Match Day:</span>
            <input type="datetime-local" id="eventEndInput" class="form-control" formControlName="start" required
            [ngClass]="{'is-invalid': calendarForm.get('start')?.invalid && calendarForm.get('start')?.touched}">
          </div>

          <!----------- buttons ---------------->
          <div class="row p-3">
            <button type="submit"  class="btn btn-primary" (click)="editEvent()">Update Match</button>
            <!-- <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="deleteEvent()">Delete Match</button> -->
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="closeEdit()">Close</button>
          </div>

        </form>


  </div>

</div>
