<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Inprocode</a>
    <div class="text-center">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active border-bottom border-primary">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/map']" routerLinkActive="router-link-active border-bottom border-primary">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/calendar']" routerLinkActive="router-link-active border-bottom border-primary">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/graphics']" routerLinkActive="router-link-active border-bottom border-primary">Graphics</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
