<div class="container pt-5">

  <div class="row">
    <div class="col-6">
      <h5 class="">Manage your Leagues</h5>
    </div>
    <div class="col-6 text-end">
      <button class="btn btn-primary" (click)="createLeague()">Add League</button>
    </div>

  </div>

  <div class="row pt-5">

    @for(league of leagues ; track $index){

    <div class="col pb-5">
      <div class="card bg-body-tertiary pt-4">
        <div class="card-body pb-5">
          <h5 class="card-title fw-bold border-bottom pb-3">{{ league.name }}</h5>
          <ul class="pb-5 pt-2">
            <li class="text-secondary">Sport: <span class="text-dark">{{ league.sport }} </span></li>
            <li class="text-secondary">Category: <span class="text-dark">{{ league.category }}</span> </li>
            <li class="text-secondary">Location: <span class="text-dark">{{ league.location }}</span> </li>
          </ul>
          <button class="btn btn-primary me-3" (click)="editLeague()">Edit</button>
          <button class="btn btn-secondary" (click)="deleteLeague(league.id)">Delete</button>
        </div>
      </div>
    </div>

    }
  </div>
</div>
