/* You can add global styles to this file, and also import other style files */
$primary: #671cde;


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';



:root {
  --fc-small-font-size: .85em;
  --fc-page-bg-color: #eae7e7;
  --fc-neutral-bg-color: rgba(115, 97, 246, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #ddd;

  --fc-button-text-color: #070707;
  --fc-button-bg-color: #f0f0f6;
  --fc-button-border-color: #f0f3f6;
  --fc-button-hover-bg-color: #f0f3f6;
  --fc-button-hover-border-color:  #671cde;
  --fc-button-active-bg-color:  #671cde;
  --fc-button-active-border-color:  #671cde;

  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #fff;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(127, 255, 212, 0.701);
  --fc-now-indicator-color: red;
}
